<nav class="custom-nav navbar navbar-expand-lg navbar-light shadow">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <h2>Parcial Labo</h2>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav nav-opt">
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="home" routerLinkActive="ruta-activa">Inicio</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="repartidores/alta" routerLinkActive="ruta-activa">Alta repartidor</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="repartidores/listado" routerLinkActive="ruta-activa">Lista repartidores</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="helados" routerLinkActive="ruta-activa">Helados</a>
      </li>

      @if(this.isLoggedIn) {
        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p class="d-inline-block">Usuario</p>
          </a>
          <div class="dropdown-menu dropdown-menu-end mb-3 rounded-bottom" aria-labelledby="navbarDropdown">
            <div class="col text-center">
              <img src="../assets/perfil.png" width="100" alt="Perfil">
            </div>
            <span class="dropdown-item-text">{{ user }}</span> 
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()"><b>Cerrar sesion</b></a> 
          </div>
        </li>
      }
      @else {
        <li class="nav-item mx-3">
          <a class="nav-link" routerLink="login" routerLinkActive="ruta-activa">Iniciar sesion</a>
        </li>
      }
    </ul>
  </div>
</nav>

<router-outlet />
